@font-face {
   font-family: um;
   src: url(fonts/Mogen-Bold.ttf);
}
@font-face {
   font-family: dois;
   src: url(fonts/WhiteAngelica.ttf);
}
@font-face {
   font-family:tres;
   src: url(fonts/TheSkinny.otf);
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.center{
	display:flex;
	flex-wrap:wrap;
	max-width:1280px;
	margin:0 auto;
	padding:0 2%;
}
header{
	height:205px;
	padding:25px 0;
	background-color:#95ada0;
}
.logo{
	width:20%;
	margin:0;
	padding:0;
	width:320px;
	height:223px;

}
.menu{
	padding-top:60px;
	width:70%;
	text-align:center;
	font-size:20px;
	padding-left:120px;
}
.menu a{
	color:Olive;
	text-decoration:none;
	font-weight:bold;
	margin-right:30px;
	background-color:WhiteSmoke;
	color:Black;
	border-radius: 16px 16px;
	width:63px;
	height:63px;
	padding:10px 10px;
	margin:16px;
	font-size:28px;
	font-family:tres;
}
.logo img{
	margin:0;
	padding:0;
	width:300px;
	height:150px;
}
main{
	height:45px;
	padding:150px 0;
	margin:0;
	width:100%;
	height:100%;
	background-image:url('imagens/fundo18.png');
	background-size:100%;
}
main h1{
	margin:32px;
	color:white;
	text-align:justify;
	font-size:85px;
	font-family:um;
	border:50%;
}
main h2{
	font-family:dois;
	color:white;
	font-size:55px;
	margin:32px;
}

*, *:before, *:after {
  box-sizing: border-box;
}



body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color:#d5dcd8cf;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 25px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'um', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Pedidos";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  box-sizing: border-box;
  border-radius: 5px;
  font-size:30px;
  font-family:um;
}
span a:before{
  color:black;
  background: #fff;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
