* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    height: 140vh;
    background: linear-gradient(to bottom,#0d5051, #93fd70);
  }
  
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  
  .background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
  }
  
  .shape:first-child {
    background: linear-gradient(#33ad18, #5be86b, #76efc1);
    left: 420px;
    top: 10px;
  }
  
  .shape:last-child {
    background: linear-gradient(to right, #2fff86, #1d8d07);
    right: 420px;
    bottom: -80px;
    top:770px;
  }
  
  form {
    height: auto;
    width: 90%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 40px 30px;
    overflow: hidden;
    margin-top: 100px;
  }
  
  form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  
  form h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
  }
  
  input {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  
  ::placeholder {
    color: #e5e5e5;
  }
  
  button {
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    form {
      width: 90%;
      padding: 20px;
    }
    
    form h3 {
      font-size: 1.5rem;
    }
  }