/* Reset */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Corpo da página */
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #3a7c47, #119c7c, #87ec93); /* Gradiente de verde */
    font-family: 'Poppins', sans-serif; /* Fonte utilizada no design */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Cor do texto */
    overflow: hidden;
}
h1{
    font-size: 120px;
 
}

.logo {
    position: absolute;
    top: 33vh; 
    left: 230vh;
    transform: translateX(-50%);  
    z-index: 2;  
    width: 100%;
    height: 100%;
}
.bolinhas {
    background-image: ();
    width: 3px; /* Aumente o tamanho até que fique visível */
    margin-top: -80vh;
    z-index: 2;
    display: block; /* Garante que a imagem seja renderizada */
}

.logo_menor img{
    width: 150px;
    margin-left: -95vh;
    margin-top: -25vh;
}

/* Fundo com formas */
.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

/* Forma - contorno do arco */
.forma {
    width: 800px; /* Largura muito maior */
    height: 400px; /* Altura ajustada */
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin-left: 58vh;
    margin-top: -20vh;
}

/* Arco - altura aumentada sem alterar a largura */
.forma .arco {
    height: 876.8px; /* Aumento da altura do arco */
    width: 800px;  /* Largura mantida */
    position: absolute;
    background: linear-gradient(#33ad18, #5be86b, #76efc1);
    border-radius: 400px 400px 0 0; /* Ajuste para manter o formato arredondado na parte superior */
    box-shadow: 0px 20px 30px rgb(2, 59, 10); /* Sombra em formato de arco */
    top: vh;
    left: 0;
}

/* Formas de fundo */
.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(to right, #147a3f, #9fff8c);
    box-shadow: 0px 30px 50px rgb(37, 90, 44);  /* Sombra ajustada */
    left: -780px;  /* Ajuste da posição */
    top: 510px;  /* Ajuste da posição */
    height: 330px; /* Aumento do tamanho */
    width: 330px;  /* Aumento do tamanho */
}

.shape:last-child {
    background: linear-gradient(to right, #147a3f, #9fff8c);
    box-shadow: 0px 30px 50px rgb(37, 90, 44);  /* Sombra ajustada */
    right: -60px;  /* Ajuste da posição */
    top:50vh;
    bottom: -120px;  /* Ajuste da posição */
    height: 230px; /* Aumento do tamanho */
    width: 230px;  /* Aumento do tamanho */
}
