@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.center{
    display:flex;
    flex-wrap:wrap;
    max-width:1280px;
    margin:0 auto;
    padding:0 2%;
    align-items: center;
}
.center h1{
color:white;
}
header{
    height:60px;
    padding:5px;
    background-color:#cc3a30;
    position: relative;
    text-align: right;
    
}

.topnav {
    background-color: #cc3a30;
    overflow: hidden;
    align-items: center;
  }
 
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: left;
    padding: 14px 19px;
    text-decoration: none;
    font-size: 15px;
  }
 
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
  }
 
  .topnav a.active {
    background-color: #cc3a30;
    color: white;
    padding: 14px 19px;
  }

main{
	height:45px;
	padding:150px 0;
	margin:0;
	padding:10px;
	width:100%;
	height:100%;
	background-size:100%;
}
main h1{
	margin:0px;
	color::#cc3a30;
	text-align:center;
	font-size:55px;
	font-family:calibri;
	border:50%;
	
}
main h2{
	margin:0px;
	color:black;
	text-align:center;
	font-size:25px;
	font-family:Century Gothic;
	border:50%;
	
}
.imagem img{
	width:20%;
	margin:50px;
	padding:0;
	width:350px;
	height:543px;
}
main p{
	font-family:arial;
	text-align:justify;
	font-size:20px;
    color:firebrick;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
   position: relative;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%,50%);
}
*, *:before, *:after {
  box-sizing: border-box;
}



body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  align-items: start;
  min-height: 100vh;
}
