/* fontes baixadas*/
@font-face {
   font-family:tres;
   src: url(fonts/TheSkinny.otf);
}
/*body*/
body{
	background-image:url('imagens/fundo19.jpg');
	background-size:100%;
}
/* div formulario*/
.form {
  background-color:#395446;
  border-radius: 20px;
  box-sizing: border-box;
  height: 545px;
  padding: 10px;
  width: 370px;
  margin:20px;
}
/* titulo*/
.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
}
/*subtitulo*/
.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
/*campos de preenchimento*/
.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 30px;
}

.ic2 {
  margin-top: 20px;
}

.input {
  background-color:white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color:  black;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color:  black;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: black;
}

.input:focus ~ .placeholder {
  color:  black;
}

.submit {
  background-color:white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: DarkOliveGreen;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color:#BDB76B;
}
/* posição*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
   position: relative;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,10%);
}
/*ultimo texto*/
h1{
	font-family:tres;
	font-size:20px;
	color:#fff;
	text-align:center;
}