

#container{
	height:300px;
	border:2px solid black;
	display:grid;
	
	/*Através do display grid habilitamos neste elemento o poder de se tornar um grid container, permitindo organizar seus elementos internos em linhas e colunas (2 dimensões)*/
	grid-template-columns:15% 15% 15% 15%;
	/*Esta propriedade é responsável por criar o MODELO de colunas do meu grid, ou seja informar a quantidade e o tamanho das colunas pertencentes a este grid*/
	/*repeat é um valor a ser utilizado que repete na quantidade de vezes definida o valor passado. Ex: repeat(3,200px) vai repetir para 200px 200px 200px*/
	grid-template-rows:20% 5% 20% 20% 10%;
	 						
	grid-template-areas:"topo topo topo topo"
	                    "menu menu menu menu"
                        "prin prin prin lat"
                        "sec sec sec lat"
                        "rod rod rod rod"; 		

    justify-content:center;	/*Organiza o grid dentro do eixo horizontal*/
    align-content:center;	/*organiza o grid dentro do eixo vertical*/
	
	
}
img{
	max-width:100%;
}
header{
	background-color:red;
	grid-area: topo;		
}

header img{
	width:50px;
}

nav{
	background-color:yellow;
	grid-area: menu; 
}
main{
	background-color:blue;
	grid-area:prin;
}
section{
	background-color:green;
	
	grid-area:sec;
}
aside{
	background-color:orange;
	
	grid-area:lat;
}
footer{
	background-color:pink;
	grid-area:rod;
}




